export(wccsom, wccxyf, unit.distances, bucket, debucket, wccassign,
       wccmap, wcc, expand, wac, wacmat)
S3method(plot, wccsom)
S3method(predict, wccsom)
S3method(summary, wccsom)

useDynLib(wccsom)

importFrom("kohonen", "classvec2classmat", "classmat2classvec")
importFrom("class", "somgrid")
importFrom("MASS", "eqscplot")

## default packages
importFrom("grDevices", "heat.colors")
importFrom("graphics", "axTicks", "axis", "legend", "lines", "matplot",
           "par", "plot", "points", "rect", "segments", "symbols",
           "text", "title")
importFrom("stats", "aggregate", "approx", "quantile", "rnorm",
           "runif", "sd", "dist")
